[build]
  command = "npm run build -w shared && npm run build -w client"
  publish = "client/dist"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
